body
html
	height 100%
	font-size 16px
	line-height 1.2
	padding 0
	margin 0
	background-color #fcfaf2
	background-image linear-gradient(
			45deg, rgba(257, 255, 247, 0.6) 25%,
			transparent 25%,
			transparent 75%,
			rgba(257, 255, 247, 0.6) 75%,
			rgba(257, 255, 247, 0.6)
		),
		linear-gradient(
			-45deg,
			rgba(257, 255, 247, 0.6) 25%,
			transparent 25%,
			transparent 75%,
			rgba(257, 255, 247, 0.6) 75%,
			rgba(257, 255, 247, 0.6)
		)
	background-size 100px 100px

body
	line-height 1.2
	font-size 16px
	// font-family 'programme-light', sans-serif
	// overflow hidden
	// -webkit-font-smoothing antialiased

html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%

a
	color link-color
	text-decoration none
	&:hover
		color lighten(link-color, 20%)

::selection
	background #cac8c4

::-moz-selection
	background #cac8c4