// Media queries
media-xxl = "screen and (min-width: 1650px)"
media-xl = "screen and (min-width: 1400px)"
media-lg = "screen and (min-width: 1150px)"
media-md = "screen and (min-width: 850px)"
media-sm = "screen and (min-width : 700px)"
media-xs = "screen and (min-width : 480px)"
media-xxs = "screen and (max-width : 480px)"

media-retina = "screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

media-max-xxl = "screen and (max-width: 1650px)"
media-max-xl = "screen and (max-width: 1400px)"
media-max-lg = "screen and (max-width: 1150px)"
media-max-md = "screen and (max-width: 850px)"
media-max-sm = "screen and (max-width : 480px)"
media-max-xs = "screen and (min-width : 480px)"

font-color = #333
link-color = #ef4723