{{- if .Params.og_image }}
	{{- .Params.og_image -}}
{{- else if or .IsHome .IsPage }}
	{{- $img := .Resources.GetMatch "assets/og-image.{png,jpg,webp}" -}}
	{{- if not $img }}
		{{- $img = resources.GetMatch "images/og-image.{png,jpg,webp}" -}}
	{{- end }}

	{{- if not $img }}
		{{- $target := cond .IsPage (printf "%s/og-image.svg" (strings.TrimSuffix .File.Dir "/")) "og-image.svg" -}}
		{{- $svg := resources.Get "images/og-image.svg" | resources.ExecuteAsTemplate $target . | resources.Fingerprint "sha512" }}
		{{- $img = $svg -}}
	{{- end }}

	{{- with $img }}
		{{- .RelPermalink -}}
	{{- end }}
{{- end }}
