// INDEX styles
.home
	display flex
	justify-content center
	align-items center

	.main
		text-align center

		.main-headline
		.main-subline
			color font-color
			text-transform uppercase
			margin 0
			padding 0

		.main-headline
			font-family vollkorn-italic, sarif
			font-size 1em
			padding 0 0.5em
			margin-bottom 0.1em
			&.is-large
				font-size 2.5em
			@media media-xs
				font-size 1em
				padding 0
				&.is-large
					font-size 4em
			@media media-sm
				font-size 2em
				&.is-large
					font-size 6em
			@media media-md
				font-size 3em
				&.is-large
					font-size 6em
			@media media-lg
				font-size 4em
				&.is-large
					font-size 7em
			@media media-xl
				font-size 5em
				&.is-large
					font-size 8em
			@media media-xxl
				font-size 6em
				&.is-large
					font-size 10em

		.main-link
		.main-subline
			font-family vollkorn, sanserif

		.main-link
			color #ef4723
			background-image -webkit-linear-gradient(92deg, #ef4723, #efb72f)
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			animation hue 50s infinite linear

	.main-list
		list-style none
		padding 0
		margin 1em 0


	.no-flexbox &
		position relative

		.main
			position absolute
			top 50%
			margin-top -110px
			width 100%