<!DOCTYPE html>
<html lang="{{- or site.Language.LanguageCode site.Language.Lang -}}" dir="{{- or site.Language.LanguageDirection `ltr` -}}">
	<head>
		{{- partial "head.html" . -}}
	</head>

	{{- $theme := "auto" -}}

	{{- with .Param "theme" -}}
		{{- $theme = . -}}
	{{- end -}}

	<body class="{{- $theme -}}">

		<div class="content">
			<header>
				{{- partial "header.html" . -}}
			</header>

			<main class="main{{ if .IsHome }} home{{ end }}">
				{{- block "main" . -}}{{- end -}}
			</main>
		</div>

		{{/* Body end hook */}}
		{{- partial "functions/get_hook.html" (dict "hook" "body_end" "context" .) -}}

		<footer>
			{{- partial "footer.html" . -}}
		</footer>

		{{- if .Param "math" -}}
			{{- partialCached "math.html" . -}}
		{{- end -}}

		{{- $js := slice
			(resources.Get "js/theme-switch.js")
			(resources.Get "js/copy-code.js")
			(resources.Get "js/code-folding.js")
		-}}

		{{- $combined := $js
			| resources.Concat "assets/combined.js"
			| minify
			| fingerprint
		-}}

		<script defer src="{{- $combined.RelPermalink -}}"></script>
	</body>
</html>
