:root {
	--content-primary: rgb(24, 26, 28); /* #181a1c */
	--content-secondary: rgb(86, 88, 90); /* #56585a */
	--focus: #ff0000;
	--background: rgb(250, 248, 246); /* #faf8f6 */
	--code-background: rgb(244, 242, 240); /* #f4f2f0 */
	--code-border: rgb(200, 202, 204); /* #c8cacc */
}

.dark {
	--content-primary: rgb(248, 248, 248);
	--content-secondary: rgb(184, 184, 184);
	--background: rgb(24, 24, 24);
	--code-background: rgb(40, 40, 40);
	--code-border: rgb(56, 56, 56);
}
