{{/* Header */}}

<div class="header">

	{{ if or (not (.Param "hideHeader")) .IsHome }}

		<h1 class="header-title">
			<a href="{{ site.BaseURL }}">
				blog
				<span>Dominik Wilkowski</span>
			</a>
		</h1>

		<div class="header-nav flex">
			{{ $currentPage := . }}

			{{ with site.Params.menu }}
				{{ range . }}
					{{ $link := .url | relURL }}
					{{ $curr := $currentPage.RelPermalink }}
					{{ $isExact := eq $link $curr }}
					{{ $isPrefix := and (ne $link "/") (hasPrefix $curr $link) }}
					{{ $active := or $isExact $isPrefix }}

					<span class="small {{ if $active }}bold{{ end }}">
						<a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
							{{.name }}
						</a>
					</span>
				{{ end }}
			{{ end }}
		</div>

	{{ end }}

</div>
